html * {
    font-family: 'Times New Roman', Times, serif;
}

div#homepage {
    display: grid;
}

header {
    grid-column: 1/8;
    background-color: plum;
}

ul.menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

ul.menu li {
    display: block;
    padding: 1rem;
}

ul.menu li:hover {
    background-color: rebeccapurple;
}

nav.local-menu {
    grid-column: 1/3;
    background-color: pink;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
}

nav.local-menu ul {
    padding-left: 1rem;
    padding-right: 0;
}

nav.local-menu li {
    display: block;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

nav.local-menu li:hover {
    background-color: plum;
}

main {
    grid-column: 3/8;
    background-color: pink;
}

p {
    margin: 1rem;
}

footer {
    background-color: plum;
    grid-column: 1/8;
    padding: 1rem;
}
